{% extends 'layoutEmail.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	<h1>Nouvelle série
		{{ program.title }}
		créée</h1>
	<p>Hello, une nouvelle série
		{{ program.title }}
		vient d'être créée sur Wild Series</p>
	<p>Synopsis :
		{{ program.description }}</p>

<a href class="return text-decoration-none fs-5 mx-3" "{{ path('program_index') }}">Retour à la liste des séries</a>

{% endblock %}
