<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nouveauté</title>
</head>
<body>
    <h1>Il y a du nouveau sur Wild Series !</h1>
    {% block body %}
    {% endblock %}
</body>
</html>